:root {
  --text: #111;
  --muted: #828181;
  --bg: #fafafa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  color: var(--text);
  background-color: var(--bg);

  background-image: radial-gradient(#e3e0e0 1px, transparent 1px);
  background-size: 16px 16px;
}

.container {
  max-width: 850px;
  margin: 90px auto;
  padding: 0 24px;
}

h1 {
  font-size: 38px;
  margin-bottom: 28px;
}

p {
  font-size: 16px;
  line-height: 1.7;
  color: var(--muted);
  margin: 14px 0;
}

strong {
  color: var(--text);
  font-weight: 600;
}

a {
  color: var(--text);
  text-decoration: underline;
}

a:hover {
  opacity: 0.6;
}
